@import url("general.css");
@import url("fonts.css");
@import url("mobile.css");


/*******
HEADER
********/
header{

    background-color: rgb(141, 170, 145);
}

nav h1{
    font-size: 50px;
}

nav{
    background-color: #788475;
    width: 100vw;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    display: flex;
    
}

nav ul li a{
    display: inline-block;
    font-size: 30px;
    text-decoration: none;
    padding: 0 15px 0;
    margin: 0 10px 0;
    color: black;
    font-weight: bold;
    transition: .3s;
}

nav ul li a:hover{
    border: 2px solid #fff;
    border-radius: 2%;
    color: #fff;
}

figure{
    width: 50%;
    margin: auto;
}


/********
MAIN
********/

main{
    background-color: #5E5D5C;
}
main h1{
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
}
.blog-container{
    padding: 20px;
    border-radius: 2%;
    width: 50%;
    margin: auto;
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 40px;
    justify-content: center;
}
.card{
    border: 1px solid grey;
    padding: 10px;
    margin:10px;
}

.card a{
    color: #fff;
    padding: 10px;
    display: inline-block;
    background-color: brown;
    border-radius: 10%;
    border: 1px solid #fff;
    transition: 0.2s;
}

.card a:hover{
    background-color: crimson;
}

#newsletter{
    background-color: #28112B;
    color: #fff;
    ;
}

#newsletter .container{
    
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-around;
}

form{
    display: flex;
    flex-direction: column;
}

.side{
    flex-basis: 50%;
    align-self: center;
}
input{
    margin: 5px;
}

/*******
FOOTER
*******/
footer{
    background-color: rgb(141, 170, 145);
}

/*****
BLOGSITE
*******/

/*******
MAIN
********/

#main-blog{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#main-blog li {
    padding: 5px;
}

#left{
    background-color: rgb(141, 170, 145);
    justify-self: center;
    padding: 50px;
}

#blog-content{
    
    
}

#right{
    background-color: rgb(141, 170, 145);
    justify-self: center;
    padding: 50px;
}
}

article{
    width: 50%;
    text-align: center;
    margin: auto;

}

.author-info{
    text-align: center;
}

@media screen and (max-width:768px) {

    header{
    width: 100%;
    }

    nav{
        justify-content: space-around
    }

    nav ul li a{
        font-size: 20px;
        padding: 0 5px;;
        margin: 0;
       
        
        
    }
    #main-blog{
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
    }
    .blog-container {

        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-gap: 40px;
        justify-content: center;
    }


    .container{
        flex-direction: column;
    }

    form > input{
        width: 100%;
    }

    #right{
        display: none;
    }
    article{
        display:flex;
        flex-direction: column;
        background-color: #5E5D5C;
        
    }
    #left{
        width: 100vw;
        padding: 0;
    }
   
    #left ul{
        display: flex;
                
    }

    #left ul li{
        display: flex;
        height: 100px;
        width: 100px;
    }

    #left ul a{
        padding: 10px;
        align-self: center;
        margin: 10px;
        background-color: #28112B;
        border-radius: 50%;
        color: #fff;
    }
}



